<%= form_for @painting, :html => {:multipart => true} do |f| %>
  <% if @painting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@painting.errors.count, "error") %> prohibited this painting from being saved:</h2>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <p>
      <%= f.file_field :image %>
    </p>
    <%= f.submit %>
  </div>
<% end %>
<% end %>